/*@font-face {
    font-family: 'SF Pro Text';
    src: url('../font/SF Pro Text Bold.woff') format('woff');
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../font/SF Pro Text Italic.woff') format('woff');
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../font/SF Pro Text Light.woff') format('woff');
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../font/SF Pro Text Medium.woff') format('woff');
}*/

/*@font-face {
    font-family: 'SF Pro Text';
    src: url('../font/SF Pro Text Regular.woff') format('woff');
}*/
@font-face {
    font-family: 'SF-Pro-Text';
    src: url('../font/SF-Pro-Text-Regular.woff') format('woff');
}