
<li style="padding-top: 5px;">
	<a href="javascript: void(0);">
		<span class="font-weight-bold text-uppercase">Database</span>
		<span class="menu-arrow"></span>
	</a>
	<ul class="nav-second-level " aria-expanded="false">
		<li>
			<a href="/Book">
				<span>Book</span>
			</a>
		</li>
		<li>
			<a href="/User">
				<span>User</span>
			</a>
		</li>
		<li>
			<a href="/Author">
				<span>Author</span>
			</a>
		</li>
		<li>
			<a href="/Publisher">
				<span>Publisher</span>
			</a>
		</li>
		<li>
			<a href="/Order">
				<span>Order</span>
			</a>
		</li>
	</ul>
</li>


<li style="padding-top: 5px;">
	<a href="javascript: void(0);">
		<span class="font-weight-bold text-uppercase">Email</span>
		<span class="menu-arrow"></span>
	</a>
	<ul class="nav-second-level " aria-expanded="false">
		<li>
			<a href="#">
				<span>Đang nghĩ</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span>Đang nghĩ</span>
			</a>
		</li>
	</ul>
</li>
